*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
}
html{
    scroll-behavior: smooth;
    height: 100%;  
}

.topo{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: var(--topo-bg);
    
}

.topo .top-text{
    font-family:var(--font-family-h1);
    font-size: var(--font-size-h1);
    color: var(--font-color-h1);
    text-align: center;    
}

.topo .btn{
    margin: 50px;
}

.topo .btn a{
    display: block;
    color: white;
    font-family: var(--font-family-text);
    font-size: 1.5rem;
    padding: 20px;
    border: 3px solid white;
    transition: all .3s;
    
}

.topo .btn a:hover{
    background-color: #04b0c7;
    transform: translateY(-10px);
}

/* fim topo */

.menu{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--menu-bg);
    border-bottom: 4px solid #04b0c7;
}

.menu .menu-links{
    padding-left: 20%;
}

.menu .menu-links a{
    color: var(--font-color-linkmenu);
    font-family: var(--font-family-text);
    letter-spacing: 2px;
    padding:0 20px;
    transition: .3s ease;
}

.menu .menu-links a:hover, .active{
    color: #04b0c7;
}

/* ------------------fim menu------------------ */

.sobre{
    width: 100%;
}

.sobre .sobre-container{
    padding: 0 20%;
    margin-top: 200px;
    margin-bottom: 400px;
}

.sobre .sobre-container .sobre-title{
    font-size: var(--font-size-title);
    font-family: var(--font-family-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

.sobre .sobre-container .sobre-title .line{
    width: 100px;
    height: 7px;
    background-color: #04b0c7;
    margin-top: 20px;
}

.sobre .sobre-container .sobre-content{
    margin-top: 200px;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.sobre .sobre-container .sobre-content .sobre-img img{
    width: 400px;
}

.sobre .sobre-container .sobre-content .sobre-text{
    width: 600px;
    font-size: var(--font-size-p);
    font-family: var(--font-family-text);
    color: rgb(43, 43, 43);
    font-weight: 500;
    text-align: justify;
}  

.sobre .sobre-container .sobre-content .sobre-text h4{
    padding-bottom: 10px;
    width: 40%;
    border-bottom: 4px solid #000000;
}

.sobre .sobre-container .sobre-content .sobre-text div{
    margin: 40px 0;
}

.sobre .sobre-container .sobre-content .sobre-text .conhecimento{
    display: flex;
    flex-wrap: wrap;
}

.sobre .sobre-container .sobre-content .sobre-text .conhecimento .icon-box{
    margin:  20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* ------------------fim sobre------------------ */


.portifolio{
    width: 100%;
    height: 100%;
    background-color:var(--portifolio-bg);
}
.portifolio .portifolio-container{
    padding: 0 20%;
    padding-top: 200px;
   
}

.portifolio .portifolio-container .portifolio-title{
    font-size: var(--font-size-title);
    font-family: var(--font-family-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

.portifolio .portifolio-container .portifolio-title .line{
    width: 100px;
    height: 8px;
    background-color: #04b0c7;
    margin-top: 20px;
}

.portifolio .portifolio-container .portifolio-content{
    margin-top: 200px;
    width: 100%;
    height: 500px;
}

/* ------------------fim portifólio------------------ */

.contato{
    width: 100%;
    height: 100%;
    background-color: var(--contato-bg);
}

.contato .contato-container{
    padding: 0 20%;
    padding-top: 200px;
}

.contato .contato-container .contato-title{
    font-size: var(--font-size-title);
    font-family: var(--font-family-text);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

.contato .contato-container .contato-title .line{
    width: 100px;
    height: 8px;
    background-color: #04b0c7;
    margin-top: 20px;
}

.contato .contato-container .contato-content{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato .contato-container .contato-content input{
    width: 500px;
    padding: 15px;
    margin:10px;
    background-color: rgb(34, 34, 34);
    border: none;
    color: #fff;
    font-family: var(--font-family-text);
}
.contato .contato-container .contato-content textarea{
    resize: none;
    width: 500px;
    padding: 10px;
    background-color: rgb(34, 34, 34);
    border: none;
    color: #fff;
    font-family: var(--font-family-text);
    
}
.contato .contato-container .contato-content .btn-form{
    padding: 10px 100px;
    margin: 20px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color:rgb(255, 255, 255);
    font-family: var(--font-family-text);
    cursor: pointer;
    font-size: 18px;
    transition: all .3s;
   
}
.contato .contato-container .contato-content .btn-form:hover{
    background-color: #01899b;
    border: 1px solid #13fdf1;
}

.contato .contato-container .contato-content .btn-form:focus{
    outline: none;
}
