:root{
    --font-size-h1:1.5rem;
    --font-size-title:2rem;
    --font-size-subtitle:1.1rem;
    --font-size-p:1rem;
    --font-size-menu:1rem;

    --font-family-h1:'Courier Prime', monospace;
    --font-family-text:'Archivo', sans-serif;

    --font-color-h1:#fff;
    --font-color-linkmenu:#fff;

    /* bg */

    --topo-bg:linear-gradient(140deg, #13475e 0%, #000000 100%, #052838 100%);
    --menu-bg:#1f1f1f;
}